<div class='ruby-code'><% bullet = 'green-splat.png' %></div>
<div id="online-resume-container">
  <div id="online-resume-page-body">

      <header id='' class='row'>
        <div class="">
          <p class='resume-one-h1'><%= @student.first_name.capitalize %> <%= @student.last_name.capitalize %> </p>
        </div>
          <div class="resume-one-header-col-right">
      
            <div class="resume-one-address">
              <div>
                <table>
                  <tr class="resume_one_table_row">
                    <td class="resume_one_table_col"><a href="mailto:<%= @student.email %>"><%= @student.email %></a></td>
                    <td class="resume_one_table_col-two"><%= image_tag("mail.png", :alt => "email", width: '24' ) %></td>
                  </tr>
                  <tr class="resume_one_table_row">
                    <td class="resume_one_table_col"><a href="<%= @student.linkedin %>" target='_blank'>Linkedin</a></td>
                    <td class="resume_one_table_col-two"><%= image_tag("LinkedIn24x24.png", :alt => "linkedin", width: '24' ) %></td>
                  </tr>
                  <tr class="resume_one_table_row">
                    <td class="resume_one_table_col"><a href="https://twitter.com/<%= @student.twitter %>" target='_blank'><%= @student.twitter %></a></td>
                    <td class="resume_one_table_col-two"><%= image_tag("Dirty Logo Twitter 2-64x64.png", :alt => "twitter", width: '24' ) %></td>
                  </tr>
                  <tr class="resume_one_table_row">
                    <td class="resume_one_table_col"><a href="https://github.com/<%= @student.github %>" target='_blank'><%= @student.github %></a></td>
                    <td class="resume_one_table_col-two"><%= image_tag("GitHub24x24.png", :alt => "twitter", width: '24' ) %></td>
                  </tr>
                </table>
              </div>
            </div>
          
            <div class="resume-one-title">
              <h2 class="resume-one-resume-title"><%= @student.job_title %></h2>
            </div>
          </div>
        
          <%= image_tag @student.photo.url(:medium), class: 'resume-one-users-picture' %>
        
      </header>

      <section class='row'>
        <div id='online-resume-about' class="col-md-9 pull-right">
          <strong>About:</strong>&nbsp;&nbsp;<%= @student.short_bio %>
          
        </div>
      </section>

      <section id='online-resume-skills' class='row'>
        <div class="col-md-4">
          <div class="online-resume-education">
            <h2 class="resume-one-h2-mod">EDUCATION</h2>
              <% @student.educations.each do |education| %>
              <div class="well" style="margin: 15px 15px 0 15px">
                <div class="resume-one-h3">
                  <% if education.present == true %>
                    <strong><%= return_year(education.start_date) %> - Present</strong>
                  <% else %>
                    <strong><%= return_year(education.start_date) %> - <%= return_year(education.end_date) %></strong>
                  <% end %>
                </div>
                <div class="resume-one-degree">
                  <strong class='resume-one-university-name'><%= education.university_name %></strong><br>
                  <p><%= education.degree %></p>
                </div>
                <div class="resume-one-education-detail">
                  <% education.education_details.each do |detail| %>
                    <span><%= image_tag(bullet, :alt => "splat", width: '24' ) %>&nbsp;&nbsp;&nbsp;<%= detail.detail %></span><br>
                  <% end %>
                    
                </div>
                </div>
              <% end %>
          </div>
          <div class="online-resume-professional-skills">
            <h2 class="resume-one-h2-mod">PROFESSIONAL SKILLS</h2>
              <div class="resume-one-skills-containter">
                <% @student.professional_skills.each do |skill| %>

                  <span class='resume-one-skills'><%= image_tag(bullet, :alt => "splat", width: '24' ) %>&nbsp;&nbsp;&nbsp;<%= skill.skill_name %></span>
                <% end %>
              </div>
          </div>
          <div class="online-resume-personal-skills">
            <h2 class="resume-one-h2-mod">PERSONAL SKILLS</h2>
              <div class="resume-one-skills-containter">
                <% @student.personal_skills.each do |skill| %>

                  <span class='resume-one-skills'><%= image_tag(bullet, :alt => "splat", width: '24' ) %>&nbsp;&nbsp;&nbsp;<%= skill.skill_name %></span>
                <% end %>
              </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="online-resume-experiences">
            <h2 class="resume-one-h2-mod">EXPERIENCES</h2>
              <% @student.experiences.each do |experience| %>
              <div class="well" style="margin: 15px 15px 0 15px">
                <div class="resume-one-h3">
                  <% if experience.present %>
                    <strong><%= return_year(experience.start_date) %> - Present</strong>
                  <% else %>
                    <strong><%= return_year(experience.start_date) %> - <%= return_year(experience.end_date) %></strong>
                  <% end %>
                </div>
                <div>
                  <span class="resume-one-h2 resume-one-company-name"><%= experience.company_name %></span><br>
                </div>
                <div>
                  <p class="resume-one-h3 resume-one-job-title"><%= experience.job_title %></p>
                </div>
                <div class="resume-one-job-description">
                  <p><%= experience.job_description %></p>
                </div>
                <div class="resume-one-education-detail">
                  <% experience.experience_details.each do |detail| %>
                    <span><%= image_tag(bullet, :alt => "splat", width: '24' ) %>&nbsp;&nbsp;&nbsp;<%= detail.detail %></span><br>
                  <% end %>
                </div>
              </div>
              <% end %>
          </div>
        </div>
      </section>

      <footer id='online-resume-footer' class='row'>
        <div class="col-md-2">
          
        </div>
        <div class="col-md-2">
          <% if @student.blog %>
            <a href="https://<%= @student.blog %>" target='_blank'>My Website</a>
          <% end %>
        </div>
        <div class="col-md-2">
          <% if @student.email %>
            <a href="mailto:<%= @student.email %>">Email Me</a>
          <% end %>
        </div>
        <div class="col-md-2">
          <% if @student.linkedin %>
            <a href="<%= @student.linkedin %>" target='_blank'>Linkedin</a>
          <% end %>
        </div>
        <div class="col-md-2">
          <% if @student.twitter %>
            <a href="https://twitter.com/<%= @student.twitter %>" target='_blank'><%= @student.twitter %></a>
          <% end %>
        </div>
        <div class="col-md-2">
          <a href="/">Your Resume</a>
        </div>
      </footer>
    
  </div><!-- End of page body -->
</div><!-- End of page container -->